<template>
  <q-page class="flex no-wrap">
    <QueueCol v-for="q in state.queues" :key="q.name" v-bind="{ queue: q }" />
  </q-page>
</template>

<script setup>
import QueueCol from "components/QueueCol.vue";
import { onMounted, onUnmounted } from "vue";
import { reactive } from "vue";
import { api } from "boot/axios";

const state = reactive({ queues: [] });

var refresh_interval = null;

async function refresh_arq_state() {
  try {
    const reply = await api.get("/state");
    state.queues = reply.data;
  } catch (error) {
    state.queues = [];
    console.error(error);
  }
}
onMounted(() => {
  refresh_arq_state();
  refresh_interval = setInterval(refresh_arq_state, 4000);
});
onUnmounted(() => {
  clearInterval(refresh_interval);
  refresh_interval = null;
});
</script>
