<template>
  <q-card class="my-card q-mt-md bg-grey-4" flat bordered v-if="filterJob()">
    <q-item :style="jobHeaderStyle">
      <q-item-section side>
        <q-icon
          name="settings_applications"
          size="lg"
          :style="jobIconColor"
        ></q-icon>
      </q-item-section>
      <!-- <q-space /> -->

      <q-item-section>
        <q-item-label class="text-weight-bold">{{ job.name }}</q-item-label>
        <q-item-label>{{ job.id }}</q-item-label>
      </q-item-section>

      <q-space />

      <q-item-section avatar v-if="job.running">
        <div>
          <q-spinner-gears color="grey-8" size="2em" /><q-tooltip
            anchor="top middle"
            self="bottom middle"
          >
            <strong>Running now</strong>
          </q-tooltip>
        </div>
      </q-item-section>

      <q-item-section avatar v-if="PRIORITY_LETTERS[job.priority]">
        <q-badge
          :color="PRIORITY_COLORS[job.priority]"
          :text-color="PRIORITY_TEXTCOL[job.priority]"
          floating
        >
          {{ PRIORITY_LETTERS[job.priority] }}
        </q-badge>
      </q-item-section>
    </q-item>

    <q-markup-table dense :style="jobBodyStyle">
      <tbody>
        <tr class="text-center">
          <td>
            {{ formatDate(job.enqueue_time, (show = "date")) }}<br />
            {{ formatDate(job.enqueue_time) }}<br />
            <strong
              >[{{ formatDiff(job.enqueue_time, job.start_time) }}]</strong
            >
          </td>
          <td v-if="job.start_time">
            {{ formatDate(job.start_time, (show = "date")) }}<br />
            {{ formatDate(job.start_time) }}<br />
            <strong>[{{ formatDiff(job.start_time, job.finish_time) }}]</strong>
          </td>

          <td v-if="job.finish_time">
            {{ formatDate(job.finish_time, (show = "date")) }}<br />
            {{ formatDate(job.finish_time) }}
          </td>
        </tr>
      </tbody>
    </q-markup-table>
    <q-separator />
    <q-card-actions align="right" :style="jobBodyStyle">
      <q-btn
        :color="job.success ? 'grey-8' : 'red-6'"
        :icon="job.success ? 'done_outline' : 'warning'"
        @click="results_dialog = true"
      >
        <q-tooltip anchor="top middle" self="bottom middle"
          >Success: {{ job.success }}</q-tooltip
        >
      </q-btn>
      <q-btn
        color="red-4"
        v-if="jobContainsAppError()"
        :style="jobHeaderStyle"
        icon="warning"
      >
        <q-tooltip anchor="top middle" self="bottom middle"
          >Soft fail</q-tooltip
        ></q-btn
      >

      <q-space />
      <q-btn
        color="grey-8"
        icon="location_searching"
        v-if="searchJidStore.get() != props.job.id"
        @click="searchJidStore.set(props.job.id)"
      >
        <q-tooltip anchor="top middle" self="bottom middle">Isolate</q-tooltip>
      </q-btn>
      <q-btn
        icon="visibility"
        color="red"
        v-if="searchJidStore.get() == props.job.id"
        @click="searchJidStore.set('')"
      >
        <q-tooltip anchor="top middle" self="bottom middle">Show All</q-tooltip>
      </q-btn>
      <q-btn icon="data_object" color="grey-8" @click="params_dialog = true"
        ><q-tooltip anchor="top middle" self="bottom middle"
          >Parameters</q-tooltip
        ></q-btn
      >
      <q-btn icon="notes" color="grey-8" @click="log_dialog = true"
        ><q-tooltip anchor="top middle" self="bottom middle"
          >Logs</q-tooltip
        ></q-btn
      >
      <q-btn
        color="grey-8"
        round
        flat
        :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
        @click="expanded = !expanded"
      />
    </q-card-actions>
    <q-slide-transition>
      <div v-show="expanded">
        <q-separator />
        <q-markup-table dense :style="jobBodyStyle">
          <tbody>
            <tr>
              <td class="text-right">
                <q-chip square color="grey-5"
                  ><q-avatar
                    color="grey-8"
                    text-color="white"
                    icon="functions"
                  />Function</q-chip
                >
              </td>
              <td>{{ job.function }}</td>
            </tr>
            <tr>
              <td class="text-right">
                <q-chip square color="grey-5"
                  ><q-avatar
                    color="grey-8"
                    text-color="white"
                    icon="priority_high"
                  />Priority</q-chip
                >
              </td>
              <td>{{ job.priority }}</td>
            </tr>
            <tr>
              <td class="text-right">
                <q-chip square color="grey-5"
                  ><q-avatar
                    color="grey-8"
                    text-color="white"
                    icon="sync"
                  />Exec. Tries</q-chip
                >
              </td>
              <td>{{ job.tries }}</td>
            </tr>
            <tr>
              <td class="text-right">
                <q-chip square color="grey-5"
                  ><q-avatar
                    color="grey-8"
                    text-color="white"
                    icon="family_restroom"
                  />Parent Job</q-chip
                >
              </td>
              <td>{{ job.parent }}</td>
            </tr>
            <tr>
              <td class="text-right">
                <q-chip square color="grey-5"
                  ><q-avatar
                    color="grey-8"
                    text-color="white"
                    icon="trending_up"
                  />Score</q-chip
                >
              </td>
              <td>
                {{ formatDate(job.score, (show = "date")) }}
                {{ formatDate(job.score) }}
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
    </q-slide-transition>
    <q-dialog v-model="log_dialog" maximized
      ><q-card class="bg-primary text-white">
        <q-bar>
          <q-space />

          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div class="text-h3">
            {{ props.job.name }} - [{{ props.job.queue }}]
          </div>
          <div class="text-h4">{{ props.job.id }}</div>
          <div class="text-h5 q-pt-lg">Logs:</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <pre>{{ formattedLogs() }}</pre>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="params_dialog" maximized
      ><q-card class="bg-primary text-white">
        <q-bar>
          <q-space />

          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div class="text-h3">
            {{ props.job.name }} - [{{ props.job.queue }}]
          </div>
          <div class="text-h4">{{ props.job.id }}</div>
          <div class="text-h5 q-pt-lg">Parameters:</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="text-h6">Args</div>
          <pre>{{ job.args }}</pre>
          <div class="text-h6">Keyword Args</div>
          <pre>{{ job.kwargs }}</pre>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="results_dialog"
      ><q-card class="bg-primary text-white">
        <q-bar>
          <q-space />

          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div class="text-h3">
            {{ props.job.name }} - [{{ props.job.queue }}]
          </div>
          <div class="text-h4">{{ props.job.id }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="text-h6">Results</div>
          <pre>{{ jobResult() }}</pre>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script setup>
import { ref, computed } from "vue";
import { searchJid } from "stores/search-jid";
import { colors } from "quasar";
import { date } from "quasar";

// Props
const props = defineProps({
  job: {
    type: Object,
    required: true,
  },
});

// Reactive vars
const log_dialog = ref(false);
const params_dialog = ref(false);
const results_dialog = ref(false);
const expanded = ref(false);

const PRIORITY_LETTERS = ["", "C", "H", "", "L", "B"];
const PRIORITY_COLORS = ["", "red-4", "orange-5", "", "blue-4", "grey-8"];
const PRIORITY_TEXTCOL = ["", "white", "grey-8", "", "grey-8", "white"];

const color = stringToColor(lookupId());
const brightColor = colors.brightness(color) >= 128;
const color2 = stringToColor2(lookupId() + "0", brightColor);
const lightColor = colors.lighten(color, 86);
const contrastText = brightColor ? "#111" : "#f0f0f0";

// Computed vars
const jobHeaderStyle = computed(() => {
  return {
    backgroundColor: color,
    color: contrastText,
    // backgroundImage:
    //   "linear-gradient(45deg, #192ecc 25%, #e3ca3b 25%, #e3ca3b 50%, #192ecc 50%, #192ecc 75%, #e3ca3b 75%, #e3ca3b 100%)",
    // backgroundSize: "16.57px 16.57px",
  };
});
const jobBodyStyle = computed(() => {
  return {
    backgroundColor: lightColor,
    color: "#111",
  };
});
const jobIconColor = computed(() => {
  return {
    color: color2,
  };
});

// Store vals
const searchJidStore = searchJid();

// methods
function pad_time(h, m, s) {
  return (
    String(h).padStart(2, "0") +
    ":" +
    String(m).padStart(2, "0") +
    ":" +
    String(s).padStart(2, "0")
  );
}
function time_difference(earlierDate, laterDate) {
  var nTotalDiff = laterDate - earlierDate;
  var oDiff = new Object();

  oDiff.days = Math.floor(nTotalDiff / 1000 / 60 / 60 / 24);
  nTotalDiff -= oDiff.days * 1000 * 60 * 60 * 24;

  oDiff.hours = Math.floor(nTotalDiff / 1000 / 60 / 60);
  nTotalDiff -= oDiff.hours * 1000 * 60 * 60;

  oDiff.minutes = Math.floor(nTotalDiff / 1000 / 60);
  nTotalDiff -= oDiff.minutes * 1000 * 60;

  oDiff.seconds = Math.floor(nTotalDiff / 1000);

  const diff = pad_time(oDiff.hours, oDiff.minutes, oDiff.seconds);
  return oDiff.days == 0 ? diff : oDiff.days + "d " + diff;
}

function stringToColor(str) {
  var hash = 0;
  for (var i = 0; i < str.length; i++) {
    hash = str.charCodeAt(i) + ((hash << 5) - hash);
  }
  var color = "#";
  for (var i = 0; i < 3; i++) {
    var value = (hash >> (i * 8)) & 0xff;
    color += ("00" + value.toString(16)).substr(-2);
  }
  return color;
}

function stringToColor2(str, bright) {
  const c2 = stringToColor(str);

  return bright ? colors.lighten(c2, -35) : colors.lighten(c2, 35);
}

function lookupId() {
  return props.job.parent ? props.job.parent : props.job.id;
}

function filterJob() {
  return (
    searchJidStore.get() == "" ||
    props.job.id.includes(searchJidStore.get()) ||
    (props.job.parent !== null &&
      props.job.parent.includes(searchJidStore.get())) ||
    (props.job.name !== null && props.job.name.includes(searchJidStore.get()))
  );
}
function formattedLogs() {
  return props.job.log.join("\n");
}
function formatDate(d, show = "time") {
  return show == "time"
    ? date.formatDate(d, "HH:mm:ss")
    : date.formatDate(d, "YYYY-MM-DD");
}
function formatDiff(st, ft) {
  if (ft) {
    return time_difference(st, ft);
  } else {
    return time_difference(st, new Date().getTime());
  }
}
function jobContainsAppError() {
  return (
    props.job.result &&
    typeof props.job.result === "object" &&
    "success" in props.job.result &&
    "error" in props.job.result &&
    props.job.result.success == false
  );
}
function jobResult() {
  // if (jobContainsAppError()) {
  //   return props.job.result.error;
  // } else {
  //   return props.job.result;
  // }
  return props.job.result;
}
function priorityLetter() {
  return PRIORITY_ICONS[props.job.priority];
}
</script>
