<template>
  <div class="column col-grow q-py-lg q-px-md">
    <q-card class="my-card">
      <q-card-section class="bg-grey-5 dense q-pt-sm q-pb-none" rounded dense>
        <div class="text-overline text-primary text-weight-bold">Queue</div>

        <div class="text-h6 text-uppercase">
          <q-icon name="plumbing" size="lg" /> {{ queue.name }}
        </div>
      </q-card-section>
      <q-tabs v-model="tab" dense inline-label class="bg-grey-5" align="center">
        <q-tab name="jobs" icon="task" label="Jobs" />
        <q-tab name="stats" icon="leaderboard" label="Stats" />
      </q-tabs>
      <!-- jobs here -->
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="jobs" class="bg-grey-4">
          <JobCard v-for="j in queue.jobs" :key="j.id" v-bind="{ job: j }" />
          <q-card
            class="my-card q-mt-md bg-grey-3"
            flat
            bordered
            v-if="queue.jobs.length == 0"
          >
            <q-card-section class="bg-grey-5">
              <div class="text-h7 text-center text-grey-8">
                <q-icon name="block" size="xs" /> <strong>Empty Queue!</strong>
              </div>
            </q-card-section>
          </q-card>
        </q-tab-panel>

        <q-tab-panel name="stats">
          <q-markup-table dense>
            <tbody>
              <tr class="text-right bg-grey-2">
                <td width="50%">
                  <q-chip square color="grey-5"
                    ><q-avatar
                      color="grey-8"
                      text-color="white"
                      icon="verified_user"
                    />Completed</q-chip
                  >
                </td>
                <td class="text-left text-weight-bold">
                  {{ queue.completed }}
                </td>
              </tr>
              <tr class="text-right bg-grey-2">
                <td>
                  <q-chip square color="grey-5"
                    ><q-avatar
                      color="grey-8"
                      text-color="white"
                      icon="sync"
                    />Retries</q-chip
                  >
                </td>
                <td class="text-left text-weight-bold">{{ queue.retried }}</td>
              </tr>
              <tr class="text-right bg-grey-2">
                <td>
                  <q-chip square color="grey-5"
                    ><q-avatar
                      color="grey-8"
                      text-color="white"
                      icon="pause"
                    />Queued</q-chip
                  >
                </td>
                <td class="text-left text-weight-bold">{{ queue.queued }}</td>
              </tr>
              <tr class="text-right bg-grey-2">
                <td class="text-right">
                  <q-chip square color="grey-5"
                    ><q-avatar
                      color="grey-8"
                      text-color="white"
                      icon="error"
                    />Failed</q-chip
                  >
                </td>
                <td class="text-left text-weight-bold">{{ queue.failed }}</td>
              </tr>
              <tr class="text-right bg-grey-2">
                <td>
                  <q-chip square color="grey-5"
                    ><q-avatar
                      color="grey-8"
                      text-color="white"
                      icon="directions_run"
                    />Running</q-chip
                  >
                </td>
                <td class="text-left text-weight-bold">
                  {{ queue.ongoing }}
                </td>
              </tr>
            </tbody>
          </q-markup-table>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script setup>
import { ref } from "vue";
import JobCard from "components/JobCard.vue";

const tab = ref("jobs");

const props = defineProps({
  queue: {
    type: Object,
    required: true,
  },
});
</script>
