<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-icon name="dvr" size="md" /> <strong>MarqUI</strong>
        </q-toolbar-title>
        <q-space />
        <q-input
          dark
          dense
          standout
          style="width: 400px"
          v-model="searchJidStore.jid"
          placeholder="Isolate Job"
          input-class="text-right"
          class="q-ml-md q-px-md"
        >
          <template v-slot:append>
            <q-icon v-if="searchJidStore.jid === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchJidStore.jid = ''"
            />
          </template>
        </q-input>
        <q-icon name="info" size="sm"
          ><q-tooltip anchor="top middle" self="bottom middle">
            <strong>marqui {{ version }}</strong>
          </q-tooltip></q-icon
        >
      </q-toolbar>
      <q-tabs align="left" inline-label>
        <q-route-tab
          :to="{ name: 'active' }"
          icon="folder_special"
          label="Active Jobs"
        />
        <q-route-tab
          :to="{ name: 'archived' }"
          icon="folder_zip"
          label="Archived Jobs"
        />
      </q-tabs>
    </q-header>

    <q-page-container class="backrimg">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style>
.backrimg {
  background-image: url("/city2.webp");
}
</style>

<script setup>
import { ref } from "vue";
import { searchJid } from "stores/search-jid";

const version = ref(process.env.PACKAGE_VERSION);
const searchJidStore = searchJid();
function jidUpdateEvent(value) {
  searchJidStore.set(value);
}
</script>
